body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

table, tr, th, td {
    width: 20vw;
    border: 1px solid;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.281);
}