
div {

    width: 400px;

}

table, th, tr, td {

    border: 1px solid;

}

h4 {

    margin-bottom: 0px;
    text-align: center;
    font-style: italic;

}

table.table {

    width: 400px;

}